@import "../abstracts/reset.scss";
@import "../abstracts/variables.scss";

.main {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  gap: 3rem;
  //background-color: antiquewhite;
  align-items: center;
  justify-content: center;

  .cardsContainer {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .card {
      position: relative;
      $card-size: calc(100vw * 0.23);
      height: 80%;
      width: $card-size;
      background-size: cover;
      background-position: center;
      transition: all 0.7s;
      cursor: pointer;

      &:hover {
        transform: translateY(-5%);
      }

      .cardInfo {
        position: absolute;
        bottom: 0;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-left: 1rem;
        padding-bottom: 1.5rem;
        color: $text-color-white;

        i {
          font-size: 4em;
        }
        span {
          font-size: 2.5em;
          font-weight: 500;
        }
      }

      .cardLayout {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.199);
        transition: all 1s;

        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .textSection {
    margin-top: 2em;
    margin-bottom: 0;
    width: 90%;
    height: fit-content;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.274);

    .textLayout {
      height: fit-content;
      width: 100%;
    }

    .textContainer {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 2em;
      justify-content: center;

      .text {
        top: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 3rem;
        width: 100%;
        height: fit-content;
        overflow: hidden;
        transition: all 1s;
        margin-bottom: 3em;

        p {
          width: 35%;
          font-size: 1.2em;
          text-align: justify;
          color: $text-color-grey;

          .author {
            text-align: right;
            display: block;
            margin-top: 1em;
            font-weight: 600;

            span {
              display: block;
              font-weight: 300;
              font-size: 1em;
            }
          }
        }
      }

      .show {
        visibility: visible;
        opacity: 100%;
      }
      .hidden {
        display: none;
        visibility: hidden;
        opacity: 0%;
      }
    }
  }

  @media screen and (max-width: 480px) {
    overflow: hidden;
    width: 100vw;
    height: auto;
    gap: 1em;

    .cardsContainer {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .card {
        width: 45%;
        height: 150px;
        background-color: red;

        .cardInfo {
          i {
            font-size: 2.2em;
          }
          span {
            font-size: 1.3em;
          }
        }
      }
    }

    .textSection {
      height: max-content;
      display: flex;
      justify-content: center;

      .textLayout {
        position: static;
        height: 100%;
        //background-color: red;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .textContainer {
        width: 90%;
        margin-bottom: 1.5em;

        .text {
          position: static;
          display: flex;
          flex-direction: column;

          gap: 1em;

          p {
            width: 100%;
            font-size: 0.9em;
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
