@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

/*----------FONTS----------*/
$font: "Poppins", sans-serif;
$font-titles: "Domine", serif;
$font-titles2: "Abril Fatface", cursive;
/*----------COLORS----------*/
$background-dark: rgb(20, 21, 24);
$background-light: rgb(247, 247, 247);
$primary-color: #ca2c45;
$primary-color-dark: #831122;
$primary-color-transp: #8311227a;
$secondary-color: #1b3162;
$secondary-color-dark: #0a1a3d;
$secondary-color-transp: #0a1a3d80;

/*----------TEXT COLORS----------*/
$text-color-white: #f5f5f5;
$text-color-grey: rgb(104, 104, 104);
